alias gl='git log --decorate --graph'
alias gd='git diff'
alias gs='git status'
alias gr='git rebase --interactive'

alias mygc='gcc -g -Wall -std=c11'

alias ll='ls -alF'
alias eu='du -ahd1 | sort -h'
alias mkd='mkdir'
alias sau='sudo apt upgrade'

alias myjpg='jpegoptim --force --all-progressive --strip-all --totals'
alias mypng='optipng -strip all -i 0 -o7'
