alias gb='git branch'
alias gd='git diff'
alias gl='git log --decorate --graph'
alias gm='git merge'
alias gmn='git merge --no-ff'
alias gr='git rebase'
alias gri='git rebase --interactive'
alias grc='git rebase --continue'
alias gs='git status'
alias gsh='git show'

alias mygc='gcc -g -Wall -std=c11'

alias ll='ls -alF --color=auto'
alias eu='du -ahd1 | sort -h'
alias mkd='mkdir'
alias sau='sudo apt upgrade'

alias myjpg='jpegoptim --force --all-progressive --strip-all --totals'
alias mypng='optipng -strip all -i 0 -o7'
