alias ga='git add'
alias gb='git branch'
alias gbs='git show-branch --sha1-name'
alias gbm='git branch --move'
alias gc='git commit'
alias gca='git commit --amend'
alias gcp='git cherry-pick'
alias gch='git checkout'
alias gd='git diff'
alias gf='git fetch'
alias gl='git log --decorate --graph'
alias gln='git log --decorate --graph --name-status'
alias gm='git merge'
alias gmn='git merge --no-ff'
alias gmv='git mv'
alias gp='git pull'
alias gr='git rebase --rebase-merges'
alias grm='git rebase --rebase-merges master'
alias gri='git rebase --rebase-merges --interactive'
alias grim='git rebase --rebase-merges --interactive master'
alias gra='git rebase --abort'
alias grc='git rebase --continue'
alias grs='git reset'
alias grsh='git reset --hard'
alias gs='git status'
alias gsh='git show'
alias gst='git stash'
alias gsth='git stash show --patch'
alias gstl='git stash list'
alias gstd='git stash drop'
alias gstp='git stash pop'
alias gta='git tag --annotate'
alias gtd='git tag --delete'

# git "super status" (relies on aliases defined above)
alias gss='
    echo "__________________________________________________________DIFF"; gd;
    echo "________________________________________________________STATUS"; gs;
    echo "_______________________________________________________STASHES"; gstl;
    echo "______________________________________________________BRANCHES"; gb;
'

alias mygc='gcc -g -Wall -std=c11'

alias v='vim'
alias ll='ls -l --all --classify --color=auto'
alias lh='ls -l --all --classify --color=auto --human-readable'
alias eu='du -ahd1 | sort -h'
alias seu='sudo du -ahd1 | sort -h'
alias mkd='mkdir'
alias sau='sudo apt upgrade'
alias ea='clear'

alias myjpg='jpegoptim --force --all-progressive --strip-all --totals'
alias mypng='optipng -strip all -i 0 -o7'
