/*

!/.gitignore

!/.aliases
!/.gdbinit
!/.gitconfig-global-gitignore
!/.gitconfig-public
!/.github/
!/.tmux.conf
!/.zshenv
!/.zshrc

# include neovim config
!/.config/
/.config/*
!/.config/nvim/
# include one file under nvim data dir for custom speeddating plugin date format
!/.local/
/.local/*
!/.local/share/
/.local/share/*
!/.local/share/nvim/
/.local/share/nvim/*
!/.local/share/nvim/site/
/.local/share/nvim/site/*
!/.local/share/nvim/site/pack/
/.local/share/nvim/site/pack/*
!/.local/share/nvim/site/pack/utilities/
/.local/share/nvim/site/pack/utilities/*
!/.local/share/nvim/site/pack/utilities/start/
/.local/share/nvim/site/pack/utilities/start/*
!/.local/share/nvim/site/pack/utilities/start/speeddating/
/.local/share/nvim/site/pack/utilities/start/speeddating/*
!/.local/share/nvim/site/pack/utilities/start/speeddating/after/
/.local/share/nvim/site/pack/utilities/start/speeddating/after/*
!/.local/share/nvim/site/pack/utilities/start/speeddating/after/plugin/
/.local/share/nvim/site/pack/utilities/start/speeddating/after/plugin/*
!/.local/share/nvim/site/pack/utilities/start/speeddating/after/plugin/custom-format.vim
